[run]
source = koodi
omit = koodi/__pycache__/**, koodi/testit/**, koodi/tiedostonkasittely.py, koodi/salattava_sisalto.txt, koodi/salattu_viesti.txt, koodi/oma_RSA_avain.txt, koodi/kayttoliittyma.py
